bg.o
bg.d
ev.o
ev.d
gconf.o
gconf.d
gconf_panel.o
gconf_panel.d
gconf_plugins.o
gconf_plugins.d
gtkbar.o
gtkbar.d
gtkbgbox.o
gtkbgbox.d
misc.o
misc.d
panel.o
panel.d
plugin.o
plugin.d
run.o
run.d
xconf.o
xconf.d
fbpanel
